<section class="home-page">
  <% if signed_in? %>
    <div class="homepage-wrapper container">
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="w-100 mt-3 px-3">
            <ul class="nav nav-pills flex-column", role="tablist">
              <li class="nav-item active">
                <%= link_to "All", "#all", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Today", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Past", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Present", class: "nav-link" %>
              </li>
            </ul>
          </div> 
        </div>
        <div class="col-12 col-md-8">
          <div class="card w-100 mt-3">
            <div class="card-header text-center">
              <h1>All Events </h1>
              <h3 class="text-muted">Plan, find, create and attend events</h3>
            </div>
            <div class="card-body">
              <%= render 'sessions/events' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-6 border pt-3">
          <div class="card text-center border-0">
            <h1>Welcome!</h1>
          </div>
        </div>
        <div class="col-md-6 border pt-3">
          <div class="card border-0">
            <%= render 'sessions/form' %>
            <p class="mt-2 pl-3">Don't have an account? <%= link_to 'Sign Up', new_user_path %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>