<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <span class="alert alert-success"><%= notice%></span>
    <% end %>

    <% if flash[:alert] %>
      <span class="alert alert-danger"><%= alert %></span>
    <% end %>
    <%= yield %>
  </body>
</html>
